.resume-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  background: var(--netflix-dark-gray);
  color: var(--netflix-white);
}


.resume-viewer {
  border: none;
  border-radius: 0;
  overflow: hidden;
  background: var(--netflix-dark-gray);
  flex: 1;
  min-height: 0;
  position: relative;
}

.resume-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  min-height: 500px;
  background: var(--netflix-white);
}



@media (max-width: 768px) {
  .resume-iframe {
    height: 400px;
  }
}
