<div class="loading-screen">
  <div class="netflix-logo">
    <h1 class="portfolio-title">
      <span class="Text">Bharath's</span>
      <span class="letter" style="animation-delay: 0s">P</span>
      <span class="letter" style="animation-delay: 0.1s">O</span>
      <span class="letter" style="animation-delay: 0.2s">R</span>
      <span class="letter" style="animation-delay: 0.3s">T</span>
      <span class="letter" style="animation-delay: 0.4s">F</span>
      <span class="letter" style="animation-delay: 0.5s">O</span>
      <span class="letter" style="animation-delay: 0.6s">L</span>
      <span class="letter" style="animation-delay: 0.7s">I</span>
      <span class="letter" style="animation-delay: 0.8s">O</span>
    </h1>
  </div>
</div>
