<div class="profile-selection fade-in">
  <h1 class="profile-title">Who's Watching?</h1>
  
  <div class="profiles-container">
    <div class="profile-card" (click)="selectRecruiter()">
      <div class="profile-avatar recruiter">
        <div class="smiley-face">
          <div class="eyes">
            <div class="eye left"></div>
            <div class="eye right"></div>
          </div>
          <div class="mouth"></div>
        </div>
      </div>
      <div class="profile-name">Recruiter</div>
    </div>
    
    <div class="profile-card" (click)="selectDeveloper()">
      <div class="profile-avatar developer">
        <div class="smiley-face">
          <div class="eyes">
            <div class="eye left"></div>
            <div class="eye right"></div>
          </div>
          <div class="mouth"></div>
        </div>
      </div>
      <div class="profile-name">Developer</div>
    </div>
    
    <div class="profile-card" (click)="selectStalker()">
      <div class="profile-avatar stalker">
        <div class="smiley-face">
          <div class="eyes">
            <div class="eye left"></div>
            <div class="eye right"></div>
          </div>
          <div class="mouth"></div>
        </div>
      </div>
      <div class="profile-name">Stalker</div>
    </div>
    
    <div class="profile-card" (click)="selectAdventurer()">
      <div class="profile-avatar adventurer">
        <div class="smiley-face">
          <div class="eyes">
            <div class="eye left"></div>
            <div class="eye right"></div>
          </div>
          <div class="mouth"></div>
        </div>
      </div>
      <div class="profile-name">Adventurer</div>
    </div>
  </div>
</div>
